<link rel="stylesheet" href="../style.css" />

<div class="content" id="ng-directives">
  <ul>
    <li>
      Directives are Typescript class. Usually is declared with decorator
      @Directive.
    </li>
    <li>
      We can change the appearance, behavior or a layout of a DOM element using
      the directives.
    </li>
  </ul>
  <ul>
    <li>
      There are different type of directives
      <ol>
        <li>
          Component Directives, contains the details like selector, style,
          template on component processing, instantiated and uses it at run
          time.
        </li>
        <li>
          Structure directives, manipulate the DOM elements. Like *ngIf, *ngFor
          directives.
        </li>
        <li>
          Attribute directives are used to change the look and behavior of the
          DOM element. We can create our own directives. For Ex: If we need to
          add specific style classes to and DOM element we can create a
          directive and inject that directive to our html element.
        </li>
      </ol>
    </li>
  </ul>
</div>
